
@{
    ViewBag.Title = "BloodborneNews";
}



<div class="container">
    <div class="col-xs-12">
        <img class="img-responsive img-rounded" src="@Url.Content("~/Images/bloodbornenews.jpg")" alt="Bloodborne2cool">
    </div>
</div>

<h1 class=" text-center text-primary">Bloodborne - Too cool for you!</h1>

<div class="container">
    too cool for you.........lel kek
</div>




<div class="clearfix">
    </div>

